body{
    height: 100vh; /* Define a altura do corpo da página para 100% da altura da viewport */
    background-color: rgb(44, 44, 44); /* Define a cor de fundo do corpo da página */
    display: flex; /* Utiliza o layout flexbox */
    align-items: center; /* Alinha os itens ao centro verticalmente */
    justify-content: center; /* Alinha os itens ao centro horizontalmente */
}

.navegacao{
    width: 100%; /* Define a largura da navegação para 100% do contêiner pai */
    height: 70px; /* Define a altura da navegação */
    background-color: white; /* Define a cor de fundo da navegação */
    display: flex; /* Utiliza o layout flexbox */
    align-items: center; /* Alinha os itens ao centro verticalmente */
    justify-content: center; /* Alinha os itens ao centro horizontalmente */
    position: relative; /* Define a posição relativa para a navegação */
}

li{
    width: 70px; /* Define a largura dos itens da lista */
    height: 70px; /* Define a altura dos itens da lista */
    list-style: none; /* Remove os marcadores de lista */
    position: relative; /* Define a posição relativa para os itens da lista */
    z-index: 1; /* Define o índice z para os itens da lista */
}

a{
    width: 100%; /* Define a largura dos links para 100% do contêiner pai */
    display: flex; /* Utiliza o layout flexbox */
    align-items: center; /* Alinha os itens ao centro verticalmente */
    justify-content: center; /* Alinha os itens ao centro horizontalmente */
    flex-direction: column; /* Define a direção dos itens como coluna */
    text-decoration: none; /* Remove a decoração do texto dos links */
    position: relative; /* Define a posição relativa para os links */
}

.icone{
    display: block; /* Define a exibição como bloco */
    line-height: 75px; /* Define a altura da linha */
    font-size: 25px; /* Define o tamanho da fonte */
    color: #280808; /* Define a cor do ícone */
    position: relative; /* Define a posição relativa para os ícones */
    transition: .5s; /* Define a transição de 0.5 segundos */
}

.texto{
    color: #000000; /* Define a cor do texto */
    position: absolute; /* Define a posição absoluta para o texto */
    opacity: 0; /* Define a opacidade inicial do texto como 0 (invisível) */
    transition: .5s; /* Define a transição de 0.5 segundos */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Define a família da fonte */
}

li:hover a .icone{
    transform: translatey(-35px); /* Move o ícone 35 pixels para cima quando o item da lista é hover */
    color: rgb(116, 115, 115); /* Muda a cor do ícone para branco quando o item da lista é hover */
}

li:hover .texto{
    opacity: 1; /* Torna o texto visível quando o item da lista é hover */
    transform: translateY(10px); /* Move o texto 10 pixels para baixo quando o item da lista é hover */
}

.indicador{
    width: 70px; /* Define a largura do indicador */
    height: 70px; /* Define a altura do indicador */
    background-color: orangered; /* Define a cor de fundo do indicador */
    border-radius: 50%; /* Define o raio da borda para 50% (fazendo um círculo) */
    position: absolute; /* Define a posição absoluta para o indicador */
    top: -50%; /* Move o indicador 50% para cima */
}