*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
:root{
    --crl: #222327
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-height: 100vh;
    background: var(--crl);
}
.navegacao{
    width: 450px;
    height: 80px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.navegacao ul{
    display: flex;
    width: 350px;
}
.navegacao ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.navegacao ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}